* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f9;
  padding: 0 0px;
  transition: background-color 0.5s ease-in-out;
}
.circular-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover; 
  border: 5px solid #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
  color: #2e3a4f;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 20px;
  animation: slideInDown 1s ease-in-out;
}

h2 {
  margin: 20px 0;
  font-size: 2rem;
  animation: fadeIn 1.5s ease-in-out;
}

h3 {
  font-size: 1.5rem;
}

header {
  background-color: #1e3b58;
  padding: 5px;
  text-align: center;
  border-radius: 0px;
  margin-bottom: 0px;
  animation: fadeIn 1.5s ease-in-out;
}

header h1 {
  color: #fff;
  font-size: 3rem;
}

nav {
  background-color: #c7770e;
  overflow: hidden;
  margin-bottom: 20px;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 33px;
  text-decoration: none;
}

nav a:hover {
  background-color: #555;
}
img {
  display: block;
  margin: 0 auto 30px auto;
  border-radius: 10px;
  animation: zoomIn 2s ease-in-out;
  flex-shrink: 0;
}

p {
  font-size: 1.1rem;
  margin: 10px 0;
  line-height: 1.8;
}

ul {
  margin: 10px 0 20px 0;
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}
footer {
  background-color: #1e3b58;
  margin-top: 10px;
  color: white;
  text-align: center;
}
.contact-container {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.contact-icon img {
  width: 35px; 
  height: 37px; 
  transition: transform 0.3s ease, filter 0.3s ease;
}

.contact-icon img:hover {
  transform: scale(1.1); 
  filter: brightness(1.2);
}


@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


section {
  padding: 20px;
  background-color: #ecf0f1;
  border-radius: 0px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

section:hover {
  transform: translateY(-10px);
}

section h2 {
  color: #606314;
}

#Skills ul,
#Certifications ul {
  list-style-type: disc;
}
html {
  scroll-behavior: smooth;
}
